<?xml version="1.0" encoding="UTF-8"?>
<xhtml xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title class="config:app-title">SemanticMedWeb EMR Demo</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="../resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="../resources/css/exist.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
    </head>
    <body id="body">
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <a href="" id="logo">SemanticMedWeb</a>
                    </div>
          <!--/header-->
                    <div id="navigation">
                        <ul id="nav" class="dropdown dropdown-horizontal">
                            <li class="dir" id="about">
                                <span>Home</span>
                                <ul>
                                    <li>
                                        <a href="smwhome.html">Home</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="ccd">
                                <span>CCDs</span>
                                <ul>
                                    <li>
                                        <a href="ccdlib.html">List All</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="lis">
                                <span>LIS</span>
                                <ul>
                                    <li>
                                        <a href="lishome.html">Laboratory Information System</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="emr">
                                <span>EMR</span>
                                <ul>
                                    <li>
                                        <a href="emrhome.html">EMR Home</a>
                                    </li>
                                    <li>
                                        <a href="404.html">Search Patients</a>
                                    </li>
                                    <li>
                                        <a href="404.html">New Patient</a>
                                    </li>
                                    <li>
                                        <a href="404.html"/>
                                    </li>
                                    <li>
                                        <a href="404.html"/>
                                    </li>
                                    <li>
                                        <a href="404.html"/>
                                    </li>
                                    <li>
                                        <a href="emrdata.html">EMR Data Listing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="crdb">
                                <span>CRDB</span>
                                <ul>
                                    <li>
                                        <a href="crdbhome.html">Clinical Research Database</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div id="content" class="container"/>
                </div>
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>
                    <a href="smwhome.html">Homepage</a>
                </li>
            </ul>
            <div id="copyright">
                <p>Copyright Timothy W. Cook 2013. See <a href="license.html">here</a> for distribution and useage terms.</p>
            </div>
      <!--/copyright-->
        </div>
    <!--/footer-->
    </body>
</xhtml>