<?xml version="1.0" encoding="UTF-8"?>
<xhtml xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title class="config:app-title">SemanticMedWeb Demo Apps</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist.css"/>
        <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"/>
    </head>
    <body id="body">
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <a href="http://www.semanticmedweb.com" id="logo">SemanticMedWeb</a>
                    </div>
          <!--/header-->
                    <div id="navigation">
                        <ul id="nav" class="dropdown dropdown-horizontal">
                            <li class="dir" id="about">
                                <span>Home</span>
                                <ul>
                                    <li>
                                        <a href="index.html">About SMW</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="ccd">
                                <span>CCDs</span>
                                <ul>
                                    <li>
                                        <a href="ccdhome.html">About CCDs</a>
                                    </li>
                                    <li>
                                        <a href="ccdlib.html?coll=/db/apps/smwdemo/ccdlib">List All</a>
                                    </li>
                                    <li>
                                        <a href="ccdlib.html?coll=/db/apps/smwdemo/ccdlib/emr">EMR CCDs</a>
                                    </li>
                                    <li>
                                        <a href="ccdlib.html?coll=/db/apps/smwdemo/ccdlib/lis">LIS CCDs</a>
                                    </li>
                                    <li>
                                        <a href="ccdlib.html?coll=/db/apps/smwdemo/ccdlib/crdb">CRDB CCDs</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="lis">
                                <span>LIS</span>
                                <ul>
                                    <li>
                                        <a href="lishome.html">About LIS</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="emr">
                                <span>EMR</span>
                                <ul>
                                    <li>
                                        <a href="emrhome.html">About EMR</a>
                                    </li>
                                    <li>
                                        <a href="patients.html">Patients</a>
                                    </li>
                                    <li>
                                        <a href="emrdata.html">EMR Data Listing</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dir" id="crdb">
                                <span>CRDB</span>
                                <ul>
                                    <li>
                                        <a href="crdbhome.html">About CRDB</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
          <!-- /navigation -->
                    <div id="content" class="container"/>
                </div>
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>
                    <a href="index.html">Homepage</a>
                </li>
            </ul>
            <div id="copyright">
                <p>Copyright Timothy W. Cook 2013. See <a href="license.html">here</a> for distribution and usage terms.</p>
            </div>
      <!--/copyright-->
        </div>
    <!--/footer-->
    </body>
</xhtml>