<xhtml xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title class="config:app-title">SemanticMedWeb</title>
    <meta class="config:app-meta" />
    <link rel="shortcut icon" href="resources/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="resources/css/ismene.css" />
    <script type="text/javascript" src="$shared/resources/scripts/jquery/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="$shared/resources/scripts/loadsource.js"></script>
  </head>
  <body id="body">
    <div id="grey-top">
      <div id="grey-bot">
        <div id="container">
          <div id="header">
            <a href="" id="logo">SemanticMedWeb</a>
          </div>
          <!--/header-->
          <div id="navigation">
            <ul id="nav" class="dropdown dropdown-horizontal">
              <li class="dir" id="about">
                <span>Home</span>
                <ul>
                  <li>
                    <a href="">Home</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <div id="content" class="container"></div>
        </div>
      </div>
    </div>
    <div id="footer">
      <ul>
        <li>
          <a href="">Homepage</a>
        </li>
      </ul>
      <div id="copyright">
        <p>Copyright 2013 - <b>Timothy W. Cook</b>
          <a href="http://fsf.org/">
            <em> GPL 3.0 Licensed </em>
          </a>
        </p>
      </div>
      <!--/copyright-->
    </div>
    <!--/footer-->
  </body>
</xhtml>
